.main {
  height: 100vh;
}
.bold {
  font-family: Roboto-bold;
}
.quiz {
  height: 70px;
  cursor: pointer;
}
.toggle {
  color: var(--purple);
}

.progressBar {

  background-color: #a929f9 !important;
  border-color: #a929f9 !important;
}
.box{
    width: 40px;
    height: 40px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}


.result{
  font-size: 65px;
}